@page
@model WebWeather.Pages.HistoryModel
<form method="post">
    <button type="submit">Wyczyść historię wyszukiwania</button>
</form>
<br />
@foreach (var item in Model.BazaItems)
{
    <p>Nazwa: @item.name</p>
    <p>Opis: @item.description <img src="@item.icon" alt="Weather Icon"></p>
    <p>Temperatura: @item.temperature</p>
    <p>Ciśnienie: @item.pressure</p>
    <p>Prędkość wiatru: @item.windspeed</p>
    <hr />
}
